<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FromAddress" value="address@domain.com"/>
    <add key="ToAddress" value="address@domain.com"/>
    <add key="EmailSubject" value="Subject"/>
    <add key="EmailBody" value="Body"/>
    <add key="ServerAddress" value="WWW174-04AU"/>
    <add key="Port" value="25"/>
  </appSettings>
</configuration>