<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FromAddress" value="EDI.Administrator.AU@prysmiangroup.com"/>
    <add key="ToAddress" value="ftp.administrator.au@prysmiangroup.com"/>
    <add key="EmailSubject" value="Test Email"/>
    <add key="EmailBody" value="Please disregard this email."/>
    <add key="ServerAddress" value="WWW174-04AU"/>
    <add key="Port" value="25"/> <!--Defaults to port 25-->
    <add key="CCAddress" value=""/> <!--Comma-delimited list, can be left empty-->
    <add key="PauseOnComplete" value="true"/> <!--Pauses console for troubleshooting, defaults to false-->
  </appSettings>
</configuration>