<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FromAddress" value="ian.yeoh.ex@prysmiangroup.com"/>
    <add key="ToAddress" value="ian.yeoh.ex@prysmiangroup.com"/>
    <add key="EmailSubject" value="Test"/>
    <add key="EmailBody" value="This is a test"/>
    <add key="ServerAddress" value="WWW174-04AU"/>
    <add key="Port" value="25"/>
  </appSettings>
</configuration>